
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
     font-size: 16px;
}
/* home page */

.main-header{
    color:white;
    padding: 10px 0;
    text-align: center;
    background-color:beige;
}

nav{
    display: flex;
    gap: 20px;
}
nav a{
    text-decoration: none;
    font-size: 18px;
}
.logo{
    position: relative;
    text-align: center;
    color: white;
}
.logo img{
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    
}
.logo h1{
    top: 50%;
    left: 50%;
    font-size: 30px;
    padding: 10px;
    color: black;
}
.logo h2{
    font-size: 24px;
    margin-top: 10px;
    color: black;
}
.logo p{
    font-size: 18px;
    margin-top: 5px;
    color: black;
    font-style: italic;
}

.welcome{
    text-align: center;
    padding: 60px 40px;

}
.welcome h3{
    font-size: 8em;
    margin-bottom: 30px;
}
.welcome img{
    width: auto;
    height: 50px;
}
footer{
    background: teal;
    color: aqua;
    padding: 20px;
    margin-top: 40px;
    font-size: 0.95em;
    
}
/*  about us*/
.content{
    text-align:center;
    padding: 60px 40px;
    max-width: 800px;
    margin: auto;
}
.content h2{
    font-size: 50px;
}
.home-image{
    width: 100%;
    height: auto;
    margin: 20px 0;
}
html,body{
    height: 100%;
}
.contact-us {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    gap: 30px;
}
.contact-us input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-small{
    border-radius:10px;
}
